/*
Theme Name: WP-Forge
Theme URI: http://themeawesome.com/responsive-wordpress-theme
Author: ThemeAwesome.com
Author URI: http://themeawesome.com/
Description: A simple, responsive theme, WP-Forge is a combination of two powerful platforms. The first, of course, being WordPress, the leading open source blogging tool and content management system. The second being ZURB Foundation, the most advanced responsive front-end framework in the world. You can use WP-Forge right out of the box, or use it with WP-Starter (WP-Forges' WordPress child theme) to build the site you've always wanted.
Version: 5.5.1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, black, white, one-column, two-columns, right-sidebar, left-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, microformats, post-formats, sticky-post, translation-ready, responsive-layout
Text Domain: wp-forge

This theme, like WordPress, is licensed under the GPL. I hope you utilize WP-Forge to learn something new, create something awesome, have fun and more importantly, I hope you share what you have learned with others.
*/

/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Accessibility
 * 3.0 - Repeatable Patterns
 * 4.0 - Basic Structure
 * 5.0 - Main content and comment content
 * 6.0 - Archives
 * 7.0 - Single image attachment view
 * 8.0 - Post Formats
 * 9.0 - Page Links
 * 10.0 - Comments
 * 11.0 - Front Page Template
 * 12.0 - Widgets
 * 13.0 - TinyMCE Editor
 * 14.0 - Social Menu
 * 15.0 - Misc
 * 16.0 - Media Queries
 */
 
/**
 * 1.0 - Reset
 */
ins {
	background: #fff9c0;
	text-decoration: none;
	padding:0 0.1875rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.top-bar-section > .alert-box.secondary p {
	margin:0.5em 0;
}
.sticky {/* Style not used but left in case you want to style the sticky in some way */}

/**
 * 2.0 - Accessibility
 */
.says,
.assistive-text,
.screen-reader-text,
.site .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 0.0625rem;
}
.site .skip-link {
	background-color: #f1f1f1;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font: bold 14px/normal "Noto Sans", sans-serif;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}
.logged-in .site .skip-link {
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	font: bold 14px/normal "Open Sans", sans-serif;
}
.site .skip-link:focus {
	clip: auto;
	height: auto;
	left: 6px;
	top: 7px;
	width: auto;
	z-index: 100000;
}

/**
 * 3.0 - Repeatable Patterns
 */

/* Small headers */
.archive-title,
.page-title,
.entry-content th,
.comment-content th {
	font-size: 0.6875rem;
	line-height: 2.181818182;
	font-weight:normal;
	text-transform: uppercase;
	color: #636363;
}
.widget-title {
	font-weight:normal;
	text-transform: uppercase;
	font-size:0.875rem	
}
select { /* Make sure select elements fit in widgets */
	cursor:pointer;
	max-width: 100%;
	padding:0.3em;
	border:1px solid #ccc;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.wp-post-image {
	margin-bottom:1.5rem;
}
/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% ; /* Override the Twitter embed fixed width */
}
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure {
	margin: 0 0 1rem;
}
figcaption, 
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
figcaption, 
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	border:0;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Post Navigation */
.nav-single {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:3.75rem;
}
#nav-below  {
	position:relative;
	float:left;
	width:100%;
	margin-bottom:2rem;
}
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
.site-content #image-navigation {
	margin:1.5rem 0;
}
#nav-above {
	padding: 1.5rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
#comment-nav-below.columns {
	margin: 0 0 1.5rem;
	padding: 0;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 3rem 0;
  	display: block;
  	position: relative;
  	clear: both;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 1.5rem;
}
.author-info {
  	border-bottom: 1px solid #ededed;
  	display: block;
	margin: 1.5rem 0;
	overflow: hidden;
	padding:20px 0;
	position: relative;
	float: left;
}
.author-description p {
	color: #757575;
	font-size: 0.875rem;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	display: block;
	float: none;
	margin: 0 0 3rem;
	border-bottom: 1px solid #ededed;
	padding:10px 0;
	position: relative;
}
.author.archive .author-avatar {
	margin-top: 0;
}
.author.archive .author-avatar img {
	margin-top: 0;
	border-radius:50%;
}
.author-avatar {
	margin-top: 1.5rem;
  	text-align: center;
}
.author-avatar img {
	border-radius:50%;
}
.author-description h3 {
    text-align: center;
}
.author-description h2 {
	margin-top:0;
}

/**
 * 4.0 - Basic Structure
 */
body {
	color: #444444;
	background-color: #e6e6e6;
	text-rendering: optimizeLegibility;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.content_wrap {
	padding-top: 1.5rem;
}
#header {
	padding:1.5rem 0;
}
.header-logo, .header-info {
	display:block;
	float:left;
	max-width:100%;
}
.header-info h1, .header-info h2 {
	margin: 0
}
.header-info h1 a {
	color: #444444;
	display: block;	
	font-size: 2.75rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	text-decoration: none;
}
.header-info a:hover {
	color: #21759b;
}
.header-info h2 {
	font-size: 1.6875rem;
	line-height:1.3;	
}
img.header-image {/* Remove fancy borders */
	border-radius: 0;
	box-shadow:none;
	margin-bottom: 1.5rem;
}
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 3rem;
}
.widget-area .widget ul {
	margin-left:2em;
}
.widget-area .widget h3 {
	margin-bottom: 5px;
}
.widget-area .widget p,
.widget-area .widget li {
	line-height: 1.846153846;
	font-size:0.875rem; /* equal to 14px */
}
.widget.widget_text {
	line-height: 1.846153846;
	font-size:0.875rem; /* equal to 14px */
}
.widget-area .widget p {
	margin-bottom: 1.5rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 1.5rem;
}
.widget-area .textwidget li {
	margin-left: 36px;
}
footer[role="contentinfo"] {
	border-top: 4px double #ededed;
	clear: both;
	line-height: 2;
	padding: 1.5rem 0;
}
footer[role="contentinfo"].inline-list {
	margin-bottom: 1rem;
}
footer > .site-info {
	margin-bottom:0;
}
footer > .site-info.lft {
	text-align:left;
}
footer > .site-info.rt {
	text-align:right;
}
footer > .site-info.cntr {
	text-align:center;
}
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.table ul.navcntr li {
	display: inline-block!important;
}
.footer_wrap p {
  margin-bottom:0;
}
.footer_wrap a {
	text-decoration:none;
}
.footer_wrap p, 
.footer_wrap a  {
	font-size: 1rem;
}
#secondary-sidebar {
	padding-top: 1.5rem;
	border-top: 1px solid #ededed;
}

/**
 * 5.0 - Main content and comment content
 */
.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 1.5rem;
}
.entry-meta-header,
.entry-meta-categories {
    color: #757575;
    font-size: 0.75rem;
    line-height: normal;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.entry-meta-header .genericon,
.entry-meta-categories .genericon {
    line-height:1;
    font-size: 1rem;
}
.entry-header .entry-title a {
	text-decoration: none;
}
span.edit-link {
	font-size: 0.75rem;
}
span.edit-link .genericon {
	font-size: 1rem;
	line-height: 1;
}
.attachment span.edit-link {
  margin-left: 0.5rem;
}
article .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 0.875rem;
	line-height: 3.692307692;
	margin-bottom: 1.5rem;
	text-align: center;
}
.entry-content ul, .entry-content ol {
	margin-left:2.125rem;
}
.entry-content [class*="block-grid-"] {
    margin: 0 0.625em;
}
.entry-content ul.pricing-table {
	margin-left:0;
}
.entry-content .f-dropdown {
	margin-bottom:0;
	margin-left:0;
	list-style:none;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content pre,
.comment-content pre {
	background: #f9f9f9;
	color: #666;
	margin: 20px 0;
	overflow-x: auto;
	padding: 20px;
	line-height: 1.3rem;
	-ms-word-wrap:normal;
	word-wrap:normal;	
}
.entry-content pre code,
.comment-content pre code {
	font-weight: normal;
	display: block;
	line-height: 1.3rem;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 1.5rem;
}
img.alignleft, .wp-caption.alignleft {
	margin: 12px 1.5rem 12px 0;
}
img.alignright, .wp-caption.alignright {
	margin: 12px 0 12px 1.5rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-bottom: 12px;
}
img.alignnone {
	margin-bottom: 1.5rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 1.5rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 1.5rem;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	line-height: 2;
	margin: 0 0 1.5rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	margin: 1.5rem 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px;
}
.entry-content th,
.comment-content th,
.entry-content td,
.comment-content td {
	text-align: left;
}
article {
	border-bottom: 1px solid #ededed;
	margin-bottom: 35px;
	padding-bottom: 1.5rem;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
body.page article {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
}
.error404 article {
	border-bottom:none;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	padding: 1rem 0;
	color: #757575;
}
.entry-meta-tags {
    color: #757575;
    font-size: 0.75rem;
    line-height: normal;
}
.entry-meta-tags .genericon {
    font-size: 1rem;
    line-height:1;
}
footer .entry-meta-footer .the-cats {
    margin-bottom: 5px;
}
.single-author .entry-meta .by-author {
	display: none;
}
span.sticky-post, 
span.entry-date,
span.byline,
span.pfont,
.entry-format {
	margin-right:0.3125rem; /* 5px */
}

/**
 * 6.0 - Archives
 */
.archive-header,
.page-header {
	margin-bottom: 3rem;
	padding-bottom: 22px;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	line-height: 2;
	margin-top: 22px;
}

/**
 * 7.0 - Single image attachment view
 */
.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
}

/**
 * 8.0 - Post Formats
 */
article.format-aside h1 {
	margin-bottom: 1.5rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 1.5rem;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 0.875rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}
article.format-image footer h1 {
	font-size: 0.875rem;
	line-height: 1.846153846;

	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}
.pformat {
	float: left;
	font-size: 26px;
	margin-right:5px;
	color:#888;
}
article.format-link header {
	padding: 5px 10px;
	float: right;
	font-size: 20px;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content a {
	font-size: 22px;
	line-height: 1.090909091;
	text-decoration: none;
}
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 1.5rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 1.5rem 1.5rem 0;
	font-size: 15px;
	line-height: 1.6;
	color: #6a6a6a;
	background: #efefef;
}
.format-status .entry-header {
	margin-bottom: 2.813rem
}
.format-status .entry-header header {
	display: inline-block;
	margin-top: 1.5rem;	
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	border-radius: 50%;
}

/**
 * 9.0 - Page Links
 */
.page-links {
	clear: both;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
}
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 1px 7px;
	text-decoration: none;
	margin:0 5px;
}
.page-links a {
	padding: 1px 7px;
	text-decoration: none;
	background: #2ba6cb;
	color: #fff;
}
.page-links a:hover {
	background: #e6e6e6;
	color:#555;
}

/**
 * 10.0 - Comments
 */
#comments ol {
	list-style: none;
}
.comments-title {
	margin-bottom: 3rem;
	font-size: 16px;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 1.5rem 0;
}
.comments-area article header {
	margin: 0 0 1rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
	border-radius: 50%;
	display: none;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 0px;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	line-height: 1.42857143;
	margin-top:8px;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	background-color: #444444;
	background-image: none;
	border-radius: 2px;
	box-shadow: none;	
	color: #ffffff;
	position: absolute;
	margin:3px 0 0 5px;
	padding: 1px 5px 1.5px;
	font-size: 10px;
}
.reply {
  margin-top: 1.5rem;
}
a.comment-reply-link,
a.comment-edit-link {
	text-decoration:none;
  font-size: 0.75rem;
  line-height: normal;
  margin-bottom: 1.5rem;
}
p.edit-link {
  margin-bottom: 0;
}
.reply span.genericon,
p.edit-link .genericon {
	font-size: 1rem;
  	line-height:1.5;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin:1rem 0;
	list-style:none;
}
#respond {
	margin-top: 3rem;
}
#respond h3#reply-title {
	font-size: 1.4375rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	font-weight: normal;
	font-size: 12px;
}
#respond form {
	margin: 1.5rem 0;
}
#respond form p {
	margin: 11px 0;
}
#respond form p.logged-in-as {
	margin-bottom: 1.5rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.714285714;
	width: 100%;
}
#respond form input[type="text"],
#respond form input[type="email"],
#respond form input[type="url"] {
	width: 100%;
}
#respond form textarea.blog-textarea {
	width: 79.666666667%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 0.6875rem;
	color: #5e5e5e;
}
.required {
	color: red;
}
p.comment-notes {
	font-size: 0.75rem;
}
p.comment-form-author, p.comment-form-email {
	padding-left: 0;
}
p.comment-form-email {
	padding-right: 0;
}

/**
 * 11.0 - Front page template
 */
.front-image {
	float: right;
}
.front-content {
	float: left;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 1.5rem;
	border-top: 1px solid #ededed;
}

/**
 * 12.0 - Widgets
 */
.widget-area .widget ul ul {
	margin-left: 12px;
}
.widget_rss li {
	margin: 12px 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	margin-left: 12px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 1.5rem;
	text-align: right;
}
.widget_search label {
	display: block;
	line-height: 1.846153846;
	display:none;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}

/**
 * 13.0 - TinyMCE Editor
 */
html .mceContentBody {
	max-width: 920px;
	margin:15px 0 0 15px;
	padding:0;
	background:#fff;
}
cite {
	border-bottom:0;
}
html .mceContentBody ul, 
html .mceContentBody ol {
	margin-left:25px;
}
.mceContentBody code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	line-height: 2;
}
.mceContentBody pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
}
.mceContentBody pre code {
	display: block;
}
.mceContentBody abbr,
.mceContentBody dfn,
.mceContentBody acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.mceContentBody address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 1.5rem;
}
.mceContentBody img.alignleft, 
.mceContentBody .wp-caption.alignleft {
	margin: 12px 1.5rem 12px 0;
}
.mceContentBody img.alignright, 
.mceContentBody .wp-caption.alignright {
	margin: 12px 0 12px 1.5rem;
}
.mceContentBody img.aligncenter {
	margin-top: 12px;
	margin-bottom: 12px;
}
.mceContentBody img.alignnone {
	margin-bottom: 1.5rem;
}
.mceContentBody embed,
.mceContentBody iframe,
.mceContentBody object,
.mceContentBody video {
	margin-bottom: 1.5rem;
}
.mceContentBody dl {
	margin: 0 1.5rem;
}
.mceContentBody dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.mceContentBody dd {
	line-height: 1.714285714;
	margin-bottom: 1.5rem;
}
.mceContentBody table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	line-height: 2;
	margin: 0 0 1.5rem;
	width: 100%;
}
.mceContentBody table caption {
	font-size: 16px;
	margin: 1.5rem 0;
}
.mceContentBody td {
	border-top: 1px solid #ededed;
	padding: 0.429em 0.714em;
}
.mceContentBody del {
	color: #333;
}
.mceContentBody ins {
	background: #fff9c0;
	text-decoration: none;
	padding:0 0.214em;
	color:inherit;
	border:0;
}
.mceContentBody sub,
.mceContentBody sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
.mceContentBody sup {
	top: -0.5em;
}
.mceContentBody sub {
	bottom: -0.25em;
}
.mceContentBody small {
	font-size: smaller;
}

/**
 * 14.0 - Social Menu
 */
.social_wrap {
	margin: 1.3rem 0 0;
 	padding: 0;
}
.social-navigation a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}
.social-navigation {
	position: relative;
}
.social-navigation ul:before,
.social-navigation ul:after {
	content: "";
	display: table;
}
.social-navigation ul {
	list-style: none;
	margin: 0;
	text-align: center;
}
.social-navigation li {
	display: inline-block;
}
.social-navigation a {
	display: block;
	height: 1.5rem;
	position: relative;
	width: 1.8rem;
}
.social-navigation a:before {
	content: "\f415";
	font-size: 24px;
	position: absolute;
	top: 0;
	left: 0;
}
.social-navigation a[href$="/feed/"]:before {
	content: "\f413";
	color: #ff7e00!important;}
.social-navigation a[href*="codepen.io"]:before {
	content: "\f216";
	color: #2d2d2c!important;}
.social-navigation a[href*="digg.com"]:before {
	content: "\f221";
	color: #3e7cc0!important;}
.social-navigation a[href*="dribbble.com"]:before {
	content: "\f201";
	color: #f977a7!important;}
.social-navigation a[href*="dropbox.com"]:before {
	content: "\f225";
	color: #007ee5!important;}
.social-navigation a[href*="facebook.com"]:before {
	content: "\f203";
	color: #3b5999!important;}
.social-navigation a[href*="flickr.com"]:before {
	content: "\f211";
	color: #d40055!important;}
.social-navigation a[href*="foursquare.com"]:before {
	content: "\f226";
	color: #229dc7!important;}
.social-navigation a[href*="plus.google.com"]:before {
	content: "\f206";
	color: #ca3732!important;}
.social-navigation a[href*="github.com"]:before {
	content: "\f200";
	color: #393939!important;}
.social-navigation a[href*="instagram.com"]:before {
	content: "\f215";
	color: #bd784f!important;}
.social-navigation a[href*="linkedin.com"]:before {
	content: "\f208";
	color: #0069a6!important;}
.social-navigation a[href*="pinterest.com"]:before {
	content: "\f210";
	color: #d43036!important;}
.social-navigation a[href*="getpocket.com"]:before {
	content: "\f224";
	color: #d43036!important;}
.social-navigation a[href*="polldaddy.com"]:before {
	content: "\f217";
	color: #d43036!important;}
.social-navigation a[href*="reddit.com"]:before {
	content: "\f222";
	color: #9aafc0!important;}
.social-navigation a[href*="stumbleupon.com"]:before {
	content: "\f223";
	color: #ff4519!important;}
.social-navigation a[href*="tumblr.com"]:before {
	content: "\f214";
	color: #2c4762!important;}
.social-navigation a[href*="twitter.com"]:before {
	content: "\f202";
	color: #55acee!important;}
.social-navigation a[href*="vimeo.com"]:before {
	content: "\f212";
	color: #20b9eb!important;}
.social-navigation a[href*="wordpress.com"]:before,
.social-navigation a[href*="wordpress.org"]:before {
	content: "\f205";
	color: #ababab!important;}
.social-navigation a[href*="youtube.com"]:before {
	content: "\f213";
	color: #d43036!important;}
.social-navigation a[href*="mailto:"]:before {
	content: "\f410";
	color: #535353!important;}
.social-navigation a[href*="spotify.com"]:before {
	content: "\f515";
	color: #84bd00!important;}
.social-navigation a[href*="twitch.tv"]:before {
	content: "\f516";
	color: #6441a5!important;}

/**
 * 15.0 - Misc
 */
ul.off-canvas-list li, 
ul.off-canvas-list li li, 
ul.off-canvas-list li li li, 
ul.off-canvas-list li li li li,
ul.off-canvas-list li li li li li,
ul.off-canvas-list li li li li li li {
	list-style-type:none;
}
section.tab-bar-section.go-left{
	text-align:left;
}
section.tab-bar-section.go-right {
	text-align:right;
}
section.tab-bar-section.middle a {
	color:#fff;
	font-weight:normal;
}
.top-bar .name a {
	line-height: 45px;
	font-size: 0.8125rem; 
	font-weight: normal;
	color: white;
	display: block;
	padding: 0 15px; 
}
.top-bar .toggle-topbar a {
	font-weight:normal;
}
.orbit-bullets li {
	cursor:pointer;
	display:inline-block;
}
.orbit-container {
	margin-bottom:1.714em;
}
.orbit-container img.alignnone {
	margin-bottom: 0;
}
.entry-content > [data-magellan-expedition] {
	margin:0 0 1.714em;
}
.entry-content dl.sub-nav {
	margin:0;
}
#backtotop {
	position: fixed;
	right: 1rem;
	bottom:1rem;
	z-index: 99;
	cursor: pointer;
	display: none;
	font-size: 1.2rem;
	width:1.5rem;
	height:1.5rem;
	line-height:1.5rem;
	text-align:center;
	border-radius:10%;
	opacity: 0.5;
}
#backtotop:hover {
	opacity: 1.0;
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
ul.breadcrumbs,
ul.button-group {
	margin-left: 0!important;
}
button,
.button,
button.secondary, 
.button.secondary,
button.success, 
.button.success,
button.alert, 
.button.alert,
button.warning, 
.button.warning,
button.info, .button.info {
	border-color: transparent;
}
.keystroke, kbd, code {
	padding: 0.125rem 0.25rem 0.125rem;
	font-size: 0.875rem;
}
.tabs.vertical {
margin: 0 0 1.25rem!important; 
}
.nudge {
	margin-right: 0.5rem;
}
/**
 * 16.0 - Media Queries
 */

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
	p.site-title a {
		font-size:1.875rem;
	}
  	p.site-description {
    	font-size:1.5rem;
    }
	#wrapper {
		padding:0;
	}
	.site-header {
		padding-top:0.9375rem;
	}
  	.comment-count {
    	margin-top: 2rem;
    }
	footer > .site-info {
		text-align:center;
		font-size:0.75rem;
	}
	#backtotop {
		bottom:1rem;
		font-size:0.5625rem;
		color:rgb(0, 0, 0) ; opacity: 0.4;
	}
	#backtotop:hover {
		color: rgb(0, 0, 0) ; opacity: 1;
	}
	#wpadminbar {
		top: -2.875rem;
	}	
	section.tab-bar-section.middle a {
		color:#fff;
		font-weight:normal;
	}	
	p.comment-form-author, p.comment-form-email {
		padding-left: 0;
		padding-right: 0;
	}
	.author-avatar img {
	    margin-top: 8px;
	    border-radius: 50%;
	}
	header.entry-header h1 {
    	font-size: 1.6875rem;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
	}
@media only screen and (min-width: 64.063em) and (max-width: 90em) { /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
	}
@media only screen and (min-width: 90.063em) and (max-width: 120em) { /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
	}
@media only screen and (min-width: 120.063em) { /* min-width 1921px, xlarge screens */
	}